{% extends "dashboard.html" %}
{% block title %}Courses{% endblock %}
{% block page %}Courses{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
      <div class="row">
        <form id="CourseForm" class="col s12 m8 offset-m2" method="POST" action="/courses">
            {{ form.csrf_token }}
            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.coursename(size=100, class="validate") }}
              {{ form.coursename.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.coursedescription(size=500, class="validate") }}
              {{ form.coursedescription.label }}
            </div>
            <div class="input-field col s12 m8 offset-m2">
              {{ form.skills(size=200, class="validate") }}
              {{ form.skills.label }}
            </div>
           <div>
            {% if form.jobchoices.errors %}
                <div class="invalid-feedback">
                    {% for error in form.jobchoices.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
             {% endif %}
           {% for choice in form.jobchoices %}
                    <div class="form-check">
                        {{ choice(class="validate") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
                </div>
            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
      </div>
  </div>
<table>
      {% for course in courses %}
                <tr>
                <td>{{course.courseName}}</td>
                <td>{{course.courseDescription}}</td>
                <td>{{course.skills}}</td>
                 <td><a class="waves-effect waves-light btn" href="/deleteCourse/{{course.courseID}}">DELETE</a></td>
                </tr>
         {% endfor %}
  </table>
{% endblock %}