{% extends "layout.html" %}
{% block title %}Courses{% endblock %}
{% block page %}Courses{% endblock %}

{{ super() }}

{% block content %}
<div class="row">
      <div class="row">
        <form id="CourseForm" class="col s12 m8 offset-m2" method="POST" action="/courses">
            {{ form.csrf_token }}
            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.coursename(size=100, class="validate") }}
              {{ form.coursename.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{ form.coursedescription(size=500, class="validate") }}
              {{ form.coursedescription.label }}
            </div>
            <div class="input-field col s12 m8 offset-m2">
              {{ form.skills(size=200, class="validate") }}
              {{ form.skills.label }}
            </div>
           {% for job in jobs %}
                <tr>
                <td><input type="checkbox" id="{{job.jobID}}" name="jobscheckbox" value="{{job.jobName}}">
                <label for="{{job.jobID}}">Job Name Here</label></td>
         {% endfor %}
            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
      </div>
  </div>
<table>
      {% for course in courses %}
                <tr>
                <td>{{course.courseName}}</td>
                <td>{{course.courseDescription}}</td>
                <td>{{course.sills}}</td>
                 <td><a class="waves-effect waves-light btn" href="/deleteCourse/{{course.courseID}}">DELETE</a></td>
                </tr>
         {% endfor %}
  </table>
{% endblock %}